<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
        <!-- important to note, that the location of filename by default, is going to look for things in a 'static' folder -->
    </head>
    <body>
        <h1> Do you already have account?</h1>
        <button> <a href="http://localhost/login2"> Yes | login </a> </button>
        <button class="specialButton1"> No | create an account </button>
        <p> Make sure to create an account and keep track of all of your 
            health related information!</p>
    </body>
</html>