<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles3.css') }}"> 

<form action="#" method="post" id="apptForm">

    <div class="header row"> 
     
      <img src="https://www.pngitem.com/pimgs/m/766-7661944_appointment-icon-png-make-an-appointment-icon-transparent.png" alt="broken" width='30' height='24'>
      <body> Schedule an Appointment </body>
      
    </div>
 
    <div class="row">
      
      <div class="inputs date col-4">
        <label for="">Date</label><br>
        <input type="date" id="" />
      </div>
    
      <div class="inputs time col-4">
        <label for="">Time</label><br>
        <input type="time" id="" />
      </div>
    
      <div class="inputs time-zone col-4">
        <label for="">Time Zone</label><br>
        <select>
          <option>Select</option>
          <option>Pacific</option>
          <option>Mountain</option>
          <option>Central</option>
          <option>Eastern</option>
          <option>Atlantic</option>
          <option>Chamarro</option>
          <option>Samoa</option>
          <option>Hawaii-Aleutian</option>
          <option>Alaska</option>
        </select>
      </div>
        
    </div><!-- row -->
    
    <div class="row">  
      
      <div class="inputs contact col-6">
        <label for="contactNumber">Contact Number</label><br>
        <input type="tel" id="contactNumber" />
      </div>
      
      <div class="inputs email col-6">
        <label for="">Email</label><br>
        <input type="email" id="" />
      </div>
    
    </div><!-- row -->  
      
    <div class="row">  
      
      <div class="inputs message col-12">
        <label for="">Message</label><br>
        <textarea></textarea>
      </div>
      
    </div><!-- row --> 
    
    <div class="row">  
      <div class="col-12">
        <button type="submit">
          <strong>Submit</strong>
        </button>
      </div>
    </div><!-- row -->  
    
    </form>